@import url("https://use.typekit.net/tnz4kom.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply placeholder:text-gray-300 font-custom text-toodark font-bold border-none focus:ring-2 focus:ring-toodark
  }

  [type='checkbox'],
  [type='radio'] {
    @apply border-2 border-toodark text-red-500 focus:ring focus:ring-dark
  }
}

@layer components {
  .min-h {
    @apply min-h-[calc(100vh-4rem)]
  }

  .center-div {
    @apply flex flex-col items-center justify-center p-5
  }

  .tb {
    @apply border-collapse border border-toolite px-5 py-2
  }

  .max-width {
    @apply max-w-3xl mx-auto
  }

  .remove-arrow::-webkit-inner-spin-button,
  .remove-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .remove-arrow {
    -moz-appearance: textfield;
  }
}

@layer base {
  span {
    @apply text-dark font-bold
  }

  html {
    @apply bg-toolite
  }
}