@import url("https://use.typekit.net/tnz4kom.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .min-h {
    @apply min-h-[calc(100vh-4rem)]
  }

  .center-div {
    @apply flex flex-col items-center justify-center p-5
  }

  .tb {
    @apply border-collapse border border-toodark px-5 py-2
  }

  .max-width {
    @apply max-w-3xl mx-auto
  }

  .remove-arrow::-webkit-inner-spin-button,
  .remove-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .remove-arrow {
    -moz-appearance: textfield;
  }
}

@layer base {
  span {
    @apply text-dark font-bold
  }

  html {
    @apply bg-toolite
  }
}